<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinpika.temp.ums.ums.mapper.ResourceCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinpika.temp.ums.ums.model.ResourceCategory">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="getResourceCategoryList" resultMap="BaseResultMap">
        SELECT rc.id,
        rc.name,
        rc.sort,
        rc.created_at,
        rc.updated_at
        FROM resource_category rc
        <trim prefix="where" prefixOverrides="and">
            And rc.deleted = 0
            <if test="keyword != null and keyword !=''">
                AND rc.name LIKE CONCAT('%',#{keyword},'%')
            </if>
            ORDER BY rc.id
        </trim>
    </select>
</mapper>
